label.error {
  color: #F44336;
}

.todos {
  [type="checkbox"] + label:before {
    margin-top: 15px;
  }
  [type="checkbox"] + label:after {
    margin-top: 13px;
  }

  ul {
    .checked {
      // background-color: #f0f0f0;
      color: #666;

      [name=todoItem] {
        text-decoration: line-through;

        // &,
        // &:hover,
        // &:focus {
        //   background-color: #f0f0f0;
        // }
      }
    }
  }
}
